In [2]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/markomiholjcic/Documents/GitHub/COMP5360Project/project_files/csv_files/population_and_population_density_USA.csv")
df

                   State     Density       Pop  LandArea
0   District of Columbia  11814.5410    720687        61
1             New Jersey   1215.1991   8936574      7354
2           Rhode Island   1021.4323   1056161      1034
3          Massachusetts    894.4355   6976597      7800
4            Connecticut    735.8689   3563077      4842
5               Maryland    626.6731   6083116      9707
6               Delaware    504.3073    982895      1949
7               New York    412.5211  19440469     47126
8                Florida    410.1256  21992985     53625
9                   Ohio    287.5038  11747694     40861
10          Pennsylvania    286.5449  12820878     44743
11            California    256.3727  39937489    155779
12              Illinois    228.0243  12659682     55519
13                Hawaii    219.9419   1412687      6423
14              Virginia    218.4403   8626207     39490
15        North Carolina    218.2702  10611862     48618
16               Indiana    188.2810   6745354     35826
17               Georgia    186.6719  10736059     57513
18              Michigan    177.6655  10045029     56539
19        South Carolina    173.3174   5210095     30061
20             Tennessee    167.2748   6897576     41235
21         New Hampshire    153.1605   1371246      8953
22            Washington    117.3272   7797095     66456
23              Kentucky    113.9566   4499692     39486
24                 Texas    112.8204  29472295    261232
25             Wisconsin    108.0497   5851754     54158
26             Louisiana    107.5175   4645184     43204
27               Alabama     96.9221   4908621     50645
28              Missouri     89.7453   6169270     68742
29         West Virginia     73.9691   1778070     24038
30             Minnesota     71.5922   5700671     79627
31               Vermont     68.1416    628061      9217
32               Arizona     64.9550   7378494    113594
33           Mississippi     63.7056   2989260     46923
34              Arkansas     58.4030   3038999     52035
35              Oklahoma     57.6547   3954821     68595
36                  Iowa     56.9284   3179849     55857
37              Colorado     56.4011   5845526    103642
38                Oregon     44.8086   4301089     95988
39                 Maine     43.6336   1345790     30843
40                  Utah     39.9430   3282115     82170
41                Kansas     35.5968   2910357     81759
42                Nevada     28.5993   3139658    109781
43              Nebraska     25.4161   1952570     76824
44                 Idaho     22.0969   1826156     82643
45            New Mexico     17.2850   2096640    121298
46          South Dakota     11.9116    903027     75811
47          North Dakota     11.0393    761723     69001
48               Montana      7.4668   1086759    145546
49               Wyoming      5.8400    567025     97093
50                Alaska      1.2863    734002    570641

In [3]:
df.describe()

            Density           Pop       LandArea
count     51.000000  5.100000e+01      51.000000
mean     431.560508  6.496451e+06   69253.078431
std     1647.225920  7.450657e+06   85526.082924
min        1.286300  5.670250e+05      61.000000
25%       50.604850  1.802113e+06   33334.500000
50%      108.049700  4.499692e+06   53625.000000
75%      223.983100  7.587794e+06   80693.000000
max    11814.541000  3.993749e+07  570641.000000

In [ ]:
#People per square mile

In [5]:
df2 = pd.read_csv('/Users/spenc/OneDrive/Documents/University_of_Utah/2019-2020/DataScience/COMP5360Project/project_files/csv_files/CLEANpopulation_and_population_density_USA.csv')
df2.dtypes

State        object
Density     float64
Pop           int64
LandArea      int64
dtype: object