In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("/Users/markomiholjcic/Documents/GitHub/COMP5360Project/project_files/csv_files/population_and_density_by_country.csv")
df

,Rank,name,pop2019,pop2018,GrowthRate,area,Density
0,1,China,1433783.686,NaN,1.0039,9706961.00,147.7068
1,2,India,1366417.754,NaN,1.0099,3287590.00,415.6290
2,3,United States,329064.917,NaN,1.0059,9372610.00,35.1092
3,4,Indonesia,270625.568,NaN,1.0107,1904569.00,142.0928
4,5,Pakistan,216565.318,NaN,1.0200,881912.00,245.5634
5,6,Brazil,211049.527,NaN,1.0072,8515767.00,24.7834
6,7,Nigeria,200963.599,NaN,1.0258,923768.00,217.5477
7,8,Bangladesh,163046.161,NaN,1.0101,147570.00,1104.8734
8,9,Russia,145872.256,NaN,1.0004,17098242.00,8.5314
9,10,Mexico,127575.529,NaN,1.0106,1964375.00,64.9446
10,11,Japan,126860.301,NaN,0.9970,377930.00,335.6714
11,12,Ethiopia,112078.730,NaN,1.0257,1104300.00,101.4930
12,13,Philippines,108116.615,NaN,1.0135,342353.00,315.8045
13,14,Egypt,100388.073,NaN,1.0194,1002450.00,100.1427
14,15,Vietnam,96462.106,NaN,1.0091,331212.00,291.2398
15,16,DR Congo,86790.567,NaN,1.0319,2344858.00,37.0131
16,17,Germany,83517.045,NaN,1.0032,357114.00,233.8666
17,18,Turkey,83429.615,NaN,1.0109,783562.00,106.4748
18,19,Iran,82913.906,NaN,1.0130,1648195.00,50.3059
19,20,Thailand,69625.582,NaN,1.0025,513120.00,135.6906
20,21,United Kingdom,67530.172,NaN,1.0053,242900.00,278.0164
21,22,France,65129.728,NaN,1.0022,551695.00,118.0539
22,23,Italy,60550.075,NaN,0.9985,301336.00,200.9387
23,24,South Africa,58558.270,NaN,1.0128,1221037.00,47.9578
24,25,Tanzania,58005.463,NaN,1.0298,945087.00,61.3758
25,26,Myanmar,54045.420,NaN,1.0067,676578.00,79.8805
26,27,Kenya,52573.973,NaN,1.0228,580367.00,90.5875
27,28,South Korea,51225.308,NaN,1.0009,100210.00,511.1796
28,29,Colombia,50339.443,NaN,1.0108,1141748.00,44.0898
29,30,Spain,46736.776,NaN,1.0004,505992.00,92.3666
...,...,...,...,...,...,...,...
202,203,Dominica,71.808,NaN,1.0025,751.00,95.6165
203,204,Cayman Islands,64.948,NaN,1.0119,264.00,246.0152
204,205,Bermuda,62.506,NaN,0.9964,54.00,1157.5185
205,206,Marshall Islands,58.791,NaN,1.0068,181.00,324.8122
206,207,Northern Mariana Islands,57.216,NaN,1.0060,464.00,123.3103
207,208,Greenland,56.672,NaN,1.0017,2166086.00,0.0262
208,209,American Samoa,55.312,NaN,0.9978,199.00,277.9497
209,210,Saint Kitts and Nevis,52.823,NaN,1.0071,261.00,202.3870
210,211,Faroe Islands,48.678,NaN,1.0038,1393.00,34.9447
211,212,Sint Maarten,42.388,NaN,1.0115,34.00,1246.7059
212,213,Monaco,38.964,NaN,1.0071,2.02,19289.1089
213,214,Turks and Caicos Islands,38.191,NaN,1.0138,948.00,40.2859
214,215,Liechtenstein,38.019,NaN,1.0029,160.00,237.6188
215,216,Saint Martin,38.002,NaN,1.0175,53.00,717.0189
216,217,San Marino,33.860,NaN,1.0021,61.00,555.0820
217,218,Gibraltar,33.701,NaN,0.9997,6.00,5616.8333
218,219,British Virgin Islands,30.030,NaN,1.0067,151.00,198.8742
219,220,Palau,18.008,NaN,1.0048,459.00,39.2331
220,221,Cook Islands,17.548,NaN,1.0009,236.00,74.3559
221,222,Anguilla,14.869,NaN,1.0090,91.00,163.3956
222,223,Tuvalu,11.646,NaN,1.0125,26.00,447.9231
223,224,Wallis and Futuna,11.432,NaN,0.9831,142.00,80.5070
224,225,Nauru,10.756,NaN,1.0063,21.00,512.1905
225,226,Saint Barthélemy,9.847,NaN,1.0030,21.00,468.9048
226,227,Saint Pierre and Miquelon,5.822,NaN,0.9952,242.00,24.0579
227,228,Montserrat,4.989,NaN,1.0006,102.00,48.9118
228,229,Falkland Islands,3.377,NaN,1.0305,12173.00,0.2774
229,230,Niue,1.615,NaN,1.0068,260.00,6.2115
230,231,Tokelau,1.340,NaN,1.0127,12.00,111.6667
231,232,Vatican City,0.799,NaN,1.0025,0.44,1815.9091

In [5]:
df.describe()

,Rank,pop2019,pop2018,GrowthRate,area,Density
count,232.000000,2.320000e+02,0.0,232.000000,2.320000e+02,232.000000
mean,116.500000,3.324683e+04,NaN,1.011095,5.864610e+05,445.842475
std,67.116814,1.349937e+05,NaN,0.010812,1.768617e+06,2030.848326
min,1.000000,7.990000e-01,NaN,0.975300,4.400000e-01,0.026200
25%,58.750000,4.386003e+02,NaN,1.003200,3.735250e+03,35.068075
50%,116.500000,5.494584e+03,NaN,1.009950,8.356700e+04,92.273950
75%,174.250000,2.057197e+04,NaN,1.018525,4.403752e+05,236.490350
max,232.000000,1.433784e+06,NaN,1.038400,1.709824e+07,21348.166700

In [ ]:
#People per square mile

In [ ]:
df2 = pd.read_csv('/Users/spenc/OneDrive/Documents/University_of_Utah/2019-2020/DataScience/COMP5360Project/project_files/csv_files/CLEANpopulation_and_population_density_USA.csv')
df2.dtypes

In [ ]:
df2 = pd.read_csv('/Users/spenc/OneDrive/Documents/University_of_Utah/2019-2020/DataScience/COMP5360Project/project_files/csv_files/CLEANpopulation_and_population_density_USA.csv')