In [1]:
import requests

url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-22-2020.csv'
response = requests.get(url)
response

In [2]:
import pandas as pd

In [3]:
print(response.content)

b'\xef\xbb\xbfProvince/State,Country/Region,Last Update,Confirmed,Deaths,Recovered\r\nAnhui,Mainland China,1/22/2020 17:00,1,,\r\nBeijing,Mainland China,1/22/2020 17:00,14,,\r\nChongqing,Mainland China,1/22/2020 17:00,6,,\r\nFujian,Mainland China,1/22/2020 17:00,1,,\r\nGansu,Mainland China,1/22/2020 17:00,,,\r\nGuangdong,Mainland China,1/22/2020 17:00,26,,\r\nGuangxi,Mainland China,1/22/2020 17:00,2,,\r\nGuizhou,Mainland China,1/22/2020 17:00,1,,\r\nHainan,Mainland China,1/22/2020 17:00,4,,\r\nHebei,Mainland China,1/22/2020 17:00,1,,\r\nHeilongjiang,Mainland China,1/22/2020 17:00,,,\r\nHenan,Mainland China,1/22/2020 17:00,5,,\r\nHong Kong,Hong Kong,1/22/2020 17:00,,,\r\nHubei,Mainland China,1/22/2020 17:00,444,17,28\r\nHunan,Mainland China,1/22/2020 17:00,4,,\r\nInner Mongolia,Mainland China,1/22/2020 17:00,,,\r\nJiangsu,Mainland China,1/22/2020 17:00,1,,\r\nJiangxi,Mainland China,1/22/2020 17:00,2,,\r\nJilin,Mainland China,1/22/2020 17:00,,,\r\nLiaoning,Mainland China,1/22/2020 17:00,2,,\r\nMacau,Macau,1/22/2020 17:00,1,,\r\nNingxia,Mainland China,1/22/2020 17:00,1,,\r\nQinghai,Mainland China,1/22/2020 17:00,,,\r\nShaanxi,Mainland China,1/22/2020 17:00,,,\r\nShandong,Mainland China,1/22/2020 17:00,2,,\r\nShanghai,Mainland China,1/22/2020 17:00,9,,\r\nShanxi,Mainland China,1/22/2020 17:00,1,,\r\nSichuan,Mainland China,1/22/2020 17:00,5,,\r\nTaiwan,Taiwan,1/22/2020 17:00,1,,\r\nTianjin,Mainland China,1/22/2020 17:00,4,,\r\nTibet,Mainland China,1/22/2020 17:00,,,\r\nWashington,US,1/22/2020 17:00,1,,\r\nXinjiang,Mainland China,1/22/2020 17:00,,,\r\nYunnan,Mainland China,1/22/2020 17:00,1,,\r\nZhejiang,Mainland China,1/22/2020 17:00,10,,\r\n,Japan,1/22/2020 17:00,2,,\r\n,Thailand,1/22/2020 17:00,2,,\r\n,South Korea,1/22/2020 17:00,1,,\r\n'

In [4]:
df = pd.read_csv(url)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
5,Guangdong,Mainland China,1/22/2020 17:00,26.0,NaN,NaN
6,Guangxi,Mainland China,1/22/2020 17:00,2.0,NaN,NaN
7,Guizhou,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
8,Hainan,Mainland China,1/22/2020 17:00,4.0,NaN,NaN
9,Hebei,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
10,Heilongjiang,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
11,Henan,Mainland China,1/22/2020 17:00,5.0,NaN,NaN
12,Hong Kong,Hong Kong,1/22/2020 17:00,NaN,NaN,NaN
13,Hubei,Mainland China,1/22/2020 17:00,444.0,17.0,28.0
14,Hunan,Mainland China,1/22/2020 17:00,4.0,NaN,NaN
15,Inner Mongolia,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
16,Jiangsu,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
17,Jiangxi,Mainland China,1/22/2020 17:00,2.0,NaN,NaN
18,Jilin,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
19,Liaoning,Mainland China,1/22/2020 17:00,2.0,NaN,NaN
20,Macau,Macau,1/22/2020 17:00,1.0,NaN,NaN
21,Ningxia,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
22,Qinghai,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
23,Shaanxi,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
24,Shandong,Mainland China,1/22/2020 17:00,2.0,NaN,NaN
25,Shanghai,Mainland China,1/22/2020 17:00,9.0,NaN,NaN
26,Shanxi,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
27,Sichuan,Mainland China,1/22/2020 17:00,5.0,NaN,NaN
28,Taiwan,Taiwan,1/22/2020 17:00,1.0,NaN,NaN
29,Tianjin,Mainland China,1/22/2020 17:00,4.0,NaN,NaN
30,Tibet,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
31,Washington,US,1/22/2020 17:00,1.0,NaN,NaN
32,Xinjiang,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
33,Yunnan,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
34,Zhejiang,Mainland China,1/22/2020 17:00,10.0,NaN,NaN
35,NaN,Japan,1/22/2020 17:00,2.0,NaN,NaN
36,NaN,Thailand,1/22/2020 17:00,2.0,NaN,NaN
37,NaN,South Korea,1/22/2020 17:00,1.0,NaN,NaN

In [5]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-23-2020.csv'
response = requests.get(url)
response

In [6]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
79,NaN,Vietnam,1/23/20 17:00,2.0,NaN,NaN
80,NaN,Australia,1/23/20 17:00,NaN,NaN,NaN
81,NaN,Mexico,1/23/20 17:00,NaN,NaN,NaN
82,NaN,Brazil,1/23/20 17:00,NaN,NaN,NaN
83,NaN,Colombia,1/23/20 17:00,NaN,NaN,NaN

In [7]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-24-2020.csv'
response = requests.get(url)
response

In [8]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
120,NaN,Thailand,1/24/20 17:00,5.0,NaN,NaN
121,NaN,South Korea,1/24/20 17:00,2.0,NaN,NaN
122,NaN,Singapore,1/24/20 17:00,3.0,NaN,NaN
123,NaN,Vietnam,1/24/20 17:00,2.0,NaN,NaN
124,NaN,France,1/24/20 17:00,2.0,NaN,NaN

In [9]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-25-2020.csv'
response = requests.get(url)
response

In [10]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
164,NaN,Vietnam,1/25/20 17:00,2.0,NaN,NaN
165,NaN,France,1/25/20 17:00,3.0,NaN,NaN
166,NaN,Australia,1/25/20 17:00,4.0,NaN,NaN
167,NaN,Nepal,1/25/20 17:00,1.0,NaN,NaN
168,NaN,Malaysia,1/25/20 17:00,3.0,NaN,NaN

In [11]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-26-2020.csv'
response = requests.get(url)
response

In [12]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
211,NaN,France,1/26/20 16:00,3.0,NaN,NaN
212,NaN,Australia,1/26/20 16:00,4.0,NaN,NaN
213,NaN,Nepal,1/26/20 16:00,1.0,NaN,NaN
214,NaN,Malaysia,1/26/20 16:00,4.0,NaN,NaN
215,Ontario,Canada,1/26/20 16:00,1.0,NaN,NaN

In [13]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-27-2020.csv'
response = requests.get(url)
response

In [14]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
262,NaN,Cambodia,1/27/20 23:59,1.0,NaN,NaN
263,NaN,Sri Lanka,1/27/20 23:59,1.0,NaN,NaN
264,NaN,Ivory Coast,1/27/20 23:59,1.0,NaN,NaN
265,New South Wales,Australia,1/27/20 23:59,4.0,NaN,NaN
266,Victoria,Australia,1/27/20 23:59,1.0,NaN,NaN

In [15]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-28-2020.csv'
response = requests.get(url)
response

In [16]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
314,NaN,Cambodia,1/28/20 23:00,1.0,NaN,NaN
315,NaN,Sri Lanka,1/28/20 23:00,1.0,NaN,NaN
316,New South Wales,Australia,1/28/20 23:00,4.0,NaN,NaN
317,Victoria,Australia,1/28/20 23:00,1.0,NaN,NaN
318,Bavaria,Germany,1/28/20 23:00,4.0,NaN,NaN

In [17]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-29-2020.csv'
response = requests.get(url)
response

In [18]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
368,New South Wales,Australia,1/29/20 19:30,4.0,NaN,NaN
369,Victoria,Australia,1/29/20 19:30,1.0,NaN,NaN
370,Bavaria,Germany,1/29/20 19:30,4.0,NaN,NaN
371,NaN,Finland,1/29/20 19:30,1.0,NaN,NaN
372,NaN,United Arab Emirates,1/29/20 19:30,4.0,NaN,NaN

In [19]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-30-2020.csv'
response = requests.get(url)
response

In [20]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
426,Bavaria,Germany,1/30/20 16:00,4.0,NaN,NaN
427,NaN,Finland,1/30/20 16:00,1.0,NaN,NaN
428,NaN,United Arab Emirates,1/30/20 16:00,4.0,NaN,NaN
429,NaN,Philippines,1/30/20 16:00,1.0,NaN,NaN
430,NaN,India,1/30/20 16:00,1.0,NaN,NaN

In [21]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-31-2020.csv'
response = requests.get(url)
response

In [22]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
488,NaN,Sri Lanka,1/31/2020 23:59,1.0,NaN,NaN
489,NaN,Finland,1/31/2020 23:59,1.0,NaN,NaN
490,NaN,Philippines,1/31/2020 23:59,1.0,NaN,NaN
491,NaN,India,1/31/2020 23:59,1.0,NaN,NaN
492,NaN,Sweden,1/31/2020 23:59,1.0,NaN,NaN

In [23]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-01-2020.csv'
response = requests.get(url)
response

In [24]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
555,"Los Angeles, CA",US,2/1/2020 19:53,1.0,0.0,0.0
556,"Orange, CA",US,2/1/2020 19:53,1.0,0.0,0.0
557,"Santa Clara, CA",US,2/1/2020 19:53,1.0,0.0,0.0
558,"Seattle, WA",US,2/1/2020 19:43,1.0,0.0,0.0
559,"Tempe, AZ",US,2/1/2020 19:43,1.0,0.0,0.0

In [25]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-02-2020.csv'
response = requests.get(url)
response

In [26]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
622,"Los Angeles, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
623,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
624,"Santa Clara, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
625,"Seattle, WA",US,2020-02-01T19:43:03,1.0,0.0,0.0
626,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [27]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-03-2020.csv'
response = requests.get(url)
response

In [28]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
690,"Boston, MA",US,2020-02-01T19:43:03,1.0,0.0,0.0
691,"Los Angeles, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
692,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
693,"Seattle, WA",US,2020-02-01T19:43:03,1.0,0.0,0.0
694,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [29]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-04-2020.csv'
response = requests.get(url)
response

In [30]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
760,"Boston, MA",US,2020-02-01T19:43:03,1.0,0.0,0.0
761,"Los Angeles, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
762,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
763,"Seattle, WA",US,2020-02-01T19:43:03,1.0,0.0,0.0
764,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [31]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-05-2020.csv'
response = requests.get(url)
response

In [32]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
831,"Los Angeles, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
832,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
833,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
834,"Seattle, WA",US,2020-02-01T19:43:03,1.0,0.0,0.0
835,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [33]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-06-2020.csv'
response = requests.get(url)
response

In [34]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
902,"Los Angeles, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
903,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
904,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
905,"Seattle, WA",US,2020-02-01T19:43:03,1.0,0.0,0.0
906,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [35]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-07-2020.csv'
response = requests.get(url)
response

In [36]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
974,"Los Angeles, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
975,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
976,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
977,"Seattle, WA",US,2020-02-01T19:43:03,1.0,0.0,0.0
978,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [37]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-08-2020.csv'
response = requests.get(url)
response

In [38]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
1046,"Los Angeles, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1047,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
1048,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1049,"Seattle, WA",US,2020-02-01T19:43:03,1.0,0.0,0.0
1050,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [39]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-09-2020.csv'
response = requests.get(url)
response

In [40]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
1118,"Los Angeles, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1119,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
1120,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1121,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
1122,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [41]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-10-2020.csv'
response = requests.get(url)
response

In [42]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
1190,"Los Angeles, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1191,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
1192,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1193,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
1194,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [43]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-11-2020.csv'
response = requests.get(url)
response

In [44]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
1263,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
1264,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1265,"San Diego County, CA",US,2020-02-11T01:23:05,1.0,0.0,0.0
1266,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
1267,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [45]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-12-2020.csv'
response = requests.get(url)
response

In [46]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
1336,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
1337,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1338,"San Diego County, CA",US,2020-02-11T01:23:05,1.0,0.0,0.0
1339,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
1340,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [47]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-13-2020.csv'
response = requests.get(url)
response

In [48]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
1410,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
1411,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1412,"San Antonio, TX",US,2020-02-13T18:53:02,1.0,0.0,0.0
1413,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
1414,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [49]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-14-2020.csv'
response = requests.get(url)
response

In [50]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
1485,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
1486,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1487,"San Antonio, TX",US,2020-02-13T18:53:02,1.0,0.0,0.0
1488,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
1489,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [51]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-15-2020.csv'
response = requests.get(url)
response

In [52]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
1560,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
1561,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1562,"San Antonio, TX",US,2020-02-13T18:53:02,1.0,0.0,0.0
1563,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
1564,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [53]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-16-2020.csv'
response = requests.get(url)
response

In [54]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
1635,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
1636,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1637,"San Antonio, TX",US,2020-02-13T18:53:02,1.0,0.0,0.0
1638,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
1639,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [55]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-17-2020.csv'
response = requests.get(url)
response

In [56]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
1710,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
1711,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1712,"San Antonio, TX",US,2020-02-13T18:53:02,1.0,0.0,0.0
1713,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
1714,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [57]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-18-2020.csv'
response = requests.get(url)
response

In [58]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
1785,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
1786,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1787,"San Antonio, TX",US,2020-02-13T18:53:02,1.0,0.0,0.0
1788,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
1789,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [59]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-19-2020.csv'
response = requests.get(url)
response

In [60]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
1861,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
1862,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1863,"San Antonio, TX",US,2020-02-13T18:53:02,1.0,0.0,0.0
1864,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
1865,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [61]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-20-2020.csv'
response = requests.get(url)
response

In [62]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
1937,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0
1938,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
1939,"San Antonio, TX",US,2020-02-13T18:53:02,1.0,0.0,0.0
1940,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
1941,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [63]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-21-2020.csv'
response = requests.get(url)
response

In [64]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
2021,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
2022,"Sacramento County, CA",US,2020-02-21T23:13:16,1.0,0.0,0.0
2023,"San Antonio, TX",US,2020-02-13T18:53:02,1.0,0.0,0.0
2024,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
2025,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [65]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-22-2020.csv'
response = requests.get(url)
response

In [66]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
2105,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0
2106,"Sacramento County, CA",US,2020-02-21T23:13:16,1.0,0.0,0.0
2107,"San Antonio, TX",US,2020-02-13T18:53:02,1.0,0.0,0.0
2108,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
2109,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0

In [67]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-23-2020.csv'
response = requests.get(url)
response

In [68]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
2190,"Sacramento County, CA",US,2020-02-21T23:13:16,1.0,0.0,0.0
2191,"San Antonio, TX",US,2020-02-13T18:53:02,1.0,0.0,0.0
2192,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
2193,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0
2194,None,Iraq,2020-02-23T18:23:06,0.0,0.0,0.0

In [69]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-24-2020.csv'
response = requests.get(url)
response

In [70]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
2280,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
2281,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0
2282,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2283,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2284,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [71]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-25-2020.csv'
response = requests.get(url)
response

In [72]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
2374,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
2375,"Tempe, AZ",US,2020-02-25T21:23:03,1.0,0.0,1.0
2376,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2377,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2378,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [73]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-26-2020.csv'
response = requests.get(url)
response

In [74]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
2475,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
2476,"Tempe, AZ",US,2020-02-25T21:23:03,1.0,0.0,1.0
2477,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2478,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2479,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [75]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-27-2020.csv'
response = requests.get(url)
response

In [76]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
2580,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
2581,"Tempe, AZ",US,2020-02-25T21:23:03,1.0,0.0,1.0
2582,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2583,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2584,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [77]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-28-2020.csv'
response = requests.get(url)
response

In [78]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
2694,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0
2695,"Tempe, AZ",US,2020-02-25T21:23:03,1.0,0.0,1.0
2696,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2697,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2698,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [79]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-29-2020.csv'
response = requests.get(url)
response

In [80]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
2813,"Tempe, AZ",US,2020-02-25T21:23:03,1.0,0.0,1.0
2814,From Diamond Princess,Australia,2020-02-29T02:03:10,0.0,0.0,0.0
2815,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2816,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2817,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [81]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-01-2020.csv'
response = requests.get(url)
response

In [82]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
2938,"Tempe, AZ",US,2020-02-25T21:23:03,1.0,0.0,1.0
2939,From Diamond Princess,Australia,2020-02-29T02:03:10,0.0,0.0,0.0
2940,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2941,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
2942,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [83]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-02-2020.csv'
response = requests.get(url)
response

In [84]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
3079,"Umatilla, OR",US,2020-03-02T20:23:16,1.0,0.0,0.0
3080,From Diamond Princess,Australia,2020-02-29T02:03:10,0.0,0.0,0.0
3081,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
3082,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
3083,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [85]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-03-2020.csv'
response = requests.get(url)
response

In [86]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
3230,NaN,Ukraine,2020-03-03T15:33:02,1.0,0.0,0.0
3231,From Diamond Princess,Australia,2020-02-29T02:03:10,0.0,0.0,0.0
3232,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
3233,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
3234,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [87]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-04-2020.csv'
response = requests.get(url)
response

In [88]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
3390,NaN,Ukraine,2020-03-03T15:33:02,1.0,0.0,0.0
3391,From Diamond Princess,Australia,2020-02-29T02:03:10,0.0,0.0,0.0
3392,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
3393,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
3394,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [89]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-05-2020.csv'
response = requests.get(url)
response

In [90]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
3563,NaN,Ukraine,2020-03-03T15:33:02,1.0,0.0,0.0
3564,From Diamond Princess,Australia,2020-02-29T02:03:10,0.0,0.0,0.0
3565,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
3566,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
3567,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [91]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-06-2020.csv'
response = requests.get(url)
response

In [92]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
3762,From Diamond Princess,Australia,2020-02-29T02:03:10,0.0,0.0,0.0
3763,Northern Territory,Australia,2020-03-06T04:33:03,0.0,0.0,0.0
3764,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
3765,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
3766,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [93]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-07-2020.csv'
response = requests.get(url)
response

In [94]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
3987,Northern Territory,Australia,2020-03-06T04:33:03,0.0,0.0,0.0
3988,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
3989,"Montgomery County, TX",US,2020-03-07T19:53:02,0.0,0.0,0.0
3990,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
3991,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [95]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-08-2020.csv'
response = requests.get(url)
response

In [96]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
4242,Northern Territory,Australia,2020-03-06T04:33:03,0.0,0.0,0.0
4243,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
4244,"Montgomery County, TX",US,2020-03-07T19:53:02,0.0,0.0,0.0
4245,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
4246,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [97]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-09-2020.csv'
response = requests.get(url)
response

In [98]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
4508,Northern Territory,Australia,2020-03-06T04:33:03,0.0,0.0,0.0
4509,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
4510,"Montgomery County, TX",US,2020-03-07T19:53:02,0.0,0.0,0.0
4511,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0
4512,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0

In [99]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-10-2020.csv'
response = requests.get(url)
response

In [100]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
4714,New Mexico,US,2020-03-10T02:33:04,0.0,0.0,0.0
4715,North Dakota,US,2020-03-10T02:33:04,0.0,0.0,0.0
4716,South Dakota,US,2020-03-10T02:33:04,0.0,0.0,0.0
4717,West Virginia,US,2020-03-10T02:33:04,0.0,0.0,0.0
4718,Wyoming,US,2020-03-10T02:33:04,0.0,0.0,0.0

In [101]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-11-2020.csv'
response = requests.get(url)
response

In [102]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
4930,Mississippi,US,2020-03-10T02:33:04,0.0,0.0,0.0
4931,North Dakota,US,2020-03-10T02:33:04,0.0,0.0,0.0
4932,West Virginia,US,2020-03-10T02:33:04,0.0,0.0,0.0
4933,Wyoming,US,2020-03-10T02:33:04,0.0,0.0,0.0
4934,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0.0,0.0,0.0

In [103]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-12-2020.csv'
response = requests.get(url)
response

In [104]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
5148,Alaska,US,2020-03-10T02:33:04,0.0,0.0,0.0
5149,Idaho,US,2020-03-10T02:33:04,0.0,0.0,0.0
5150,Maine,US,2020-03-10T02:33:04,0.0,0.0,0.0
5151,West Virginia,US,2020-03-10T02:33:04,0.0,0.0,0.0
5152,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0.0,0.0,0.0

In [105]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-13-2020.csv'
response = requests.get(url)
response

In [106]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
5378,NaN,Afghanistan,2020-03-11T20:00:00,7.0,0.0,0.0
5379,NaN,Monaco,2020-03-11T20:00:00,2.0,0.0,0.0
5380,NaN,Liechtenstein,2020-03-11T20:00:00,1.0,0.0,0.0
5381,NaN,Guyana,2020-03-11T20:00:00,1.0,1.0,0.0
5382,NaN,Taiwan*,2020-03-11T20:00:00,50.0,1.0,20.0

In [107]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-14-2020.csv'
response = requests.get(url)
response

In [108]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
5627,"Virgin Islands, U.S.",US,2020-03-14T16:15:18,1.0,0.0,0.0
5628,Gibraltar,United Kingdom,2020-03-14T16:33:03,1.0,0.0,1.0
5629,From Diamond Princess,Australia,2020-03-14T02:33:04,0.0,0.0,0.0
5630,West Virginia,US,2020-03-10T02:33:04,0.0,0.0,0.0
5631,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0.0,0.0,0.0

In [109]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-15-2020.csv'
response = requests.get(url)
response

In [110]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
5885,Gibraltar,United Kingdom,2020-03-14T16:33:03,1.0,0.0,1.0
5886,NaN,Uzbekistan,2020-03-15T18:20:19,1.0,0.0,0.0
5887,From Diamond Princess,Australia,2020-03-14T02:33:04,0.0,0.0,0.0
5888,West Virginia,US,2020-03-10T02:33:04,0.0,0.0,0.0
5889,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0.0,0.0,0.0

In [111]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-16-2020.csv'
response = requests.get(url)
response

In [112]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
6157,Cayman Islands,United Kingdom,2020-03-16T14:53:04,1.0,1.0,0.0
6158,Gibraltar,United Kingdom,2020-03-14T16:33:03,1.0,0.0,1.0
6159,From Diamond Princess,Australia,2020-03-14T02:33:04,0.0,0.0,0.0
6160,West Virginia,US,2020-03-10T02:33:04,0.0,0.0,0.0
6161,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0.0,0.0,0.0

In [113]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv'
response = requests.get(url)
response

In [114]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
6433,NaN,Guernsey,2020-03-17T18:33:03,0.0,0.0,0.0
6434,NaN,Jersey,2020-03-17T18:33:03,0.0,0.0,0.0
6435,NaN,Puerto Rico,2020-03-17T16:13:14,0.0,0.0,0.0
6436,NaN,Republic of the Congo,2020-03-17T21:33:03,0.0,0.0,0.0
6437,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0.0,0.0,0.0

In [115]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-18-2020.csv'
response = requests.get(url)
response

In [116]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
6717,NaN,Guernsey,2020-03-17T18:33:03,0.0,0.0,0.0
6718,NaN,Jersey,2020-03-17T18:33:03,0.0,0.0,0.0
6719,NaN,Puerto Rico,2020-03-17T16:13:14,0.0,0.0,0.0
6720,NaN,Republic of the Congo,2020-03-17T21:33:03,0.0,0.0,0.0
6721,NaN,The Gambia,2020-03-18T14:13:56,0.0,0.0,0.0

In [117]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-19-2020.csv'
response = requests.get(url)
response

In [118]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
7009,NaN,Jersey,2020-03-17T18:33:03,0.0,0.0,0.0
7010,NaN,Puerto Rico,2020-03-17T16:13:14,0.0,0.0,0.0
7011,NaN,Republic of the Congo,2020-03-17T21:33:03,0.0,0.0,0.0
7012,NaN,The Bahamas,2020-03-19T12:13:38,0.0,0.0,0.0
7013,NaN,The Gambia,2020-03-18T14:13:56,0.0,0.0,0.0

In [119]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-20-2020.csv'
response = requests.get(url)
response

In [120]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
7308,NaN,Jersey,2020-03-17T18:33:03,0.0,0.0,0.0
7309,NaN,Puerto Rico,2020-03-17T16:13:14,0.0,0.0,0.0
7310,NaN,Republic of the Congo,2020-03-17T21:33:03,0.0,0.0,0.0
7311,NaN,The Bahamas,2020-03-19T12:13:38,0.0,0.0,0.0
7312,NaN,The Gambia,2020-03-18T14:13:56,0.0,0.0,0.0

In [121]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-21-2020.csv'
response = requests.get(url)
response

In [122]:
df1 = pd.read_csv(url)
df1 = df1[["Province/State", "Country/Region",  "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
7612,NaN,Jersey,2020-03-17T18:33:03,0.0,0.0,0.0
7613,NaN,Puerto Rico,2020-03-17T16:13:14,0.0,0.0,0.0
7614,NaN,Republic of the Congo,2020-03-17T21:33:03,0.0,0.0,0.0
7615,NaN,The Bahamas,2020-03-19T12:13:38,0.0,0.0,0.0
7616,NaN,The Gambia,2020-03-18T14:13:56,0.0,0.0,0.0

In [123]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-22-2020.csv'
response = requests.get(url)
response

In [124]:
df1 = pd.read_csv(url)
df1 = df1.rename(columns={"Province_State": "Province/State", "Country_Region": "Country/Region", "Last_Update": "Last Update"})
df1 = df1[["Province/State", "Country/Region", "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
11029,NaN,Syria,3/22/20 23:45,1.0,0.0,0.0
11030,NaN,Timor-Leste,3/22/20 23:45,1.0,0.0,0.0
11031,NaN,Uganda,3/22/20 23:45,1.0,0.0,0.0
11032,District of Columbia,US,3/22/20 23:45,102.0,2.0,0.0
11033,Washington,US,3/22/20 23:45,1.0,2.0,0.0

In [125]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-23-2020.csv'
response = requests.get(url)
response

In [126]:
df1 = pd.read_csv(url)
df1 = df1.rename(columns={"Province_State": "Province/State", "Country_Region": "Country/Region", "Last_Update": "Last Update"})
df1 = df1[["Province/State", "Country/Region", "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
14444,NaN,Uzbekistan,2020-03-23 23:19:21,46.0,0.0,0.0
14445,NaN,Venezuela,2020-03-23 23:19:21,77.0,0.0,15.0
14446,NaN,Vietnam,2020-03-23 23:19:21,123.0,0.0,17.0
14447,NaN,Zambia,2020-03-23 23:19:21,3.0,0.0,0.0
14448,NaN,Zimbabwe,2020-03-23 23:19:21,3.0,1.0,0.0

In [127]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-24-2020.csv'
response = requests.get(url)
response

In [128]:
df1 = pd.read_csv(url)
df1 = df1.rename(columns={"Province_State": "Province/State", "Country_Region": "Country/Region", "Last_Update": "Last Update"})
df1 = df1[["Province/State", "Country/Region", "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
17861,NaN,Uzbekistan,2020-03-24 23:37:15,50.0,0.0,0.0
17862,NaN,Venezuela,2020-03-24 23:37:15,84.0,0.0,15.0
17863,NaN,Vietnam,2020-03-24 23:37:15,134.0,0.0,17.0
17864,NaN,Zambia,2020-03-24 23:37:15,3.0,0.0,0.0
17865,NaN,Zimbabwe,2020-03-24 23:37:15,3.0,1.0,0.0

In [129]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-25-2020.csv'
response = requests.get(url)
response

In [130]:
df1 = pd.read_csv(url)
df1 = df1.rename(columns={"Province_State": "Province/State", "Country_Region": "Country/Region", "Last_Update": "Last Update"})
df1 = df1[["Province/State", "Country/Region", "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
21281,NaN,Uzbekistan,2020-03-25 23:33:04,60.0,0.0,0.0
21282,NaN,Venezuela,2020-03-25 23:33:04,91.0,0.0,15.0
21283,NaN,Vietnam,2020-03-25 23:33:04,141.0,0.0,17.0
21284,NaN,Zambia,2020-03-25 23:33:04,12.0,0.0,0.0
21285,NaN,Zimbabwe,2020-03-25 23:33:04,3.0,1.0,0.0

In [131]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-26-2020.csv'
response = requests.get(url)
response

In [132]:
df1 = pd.read_csv(url)
df1 = df1.rename(columns={"Province_State": "Province/State", "Country_Region": "Country/Region", "Last_Update": "Last Update"})
df1 = df1[["Province/State", "Country/Region", "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
24702,NaN,Venezuela,2020-03-26 23:48:18,107.0,0.0,15.0
24703,NaN,Vietnam,2020-03-26 23:48:18,153.0,0.0,20.0
24704,NaN,West Bank and Gaza,2020-03-26 23:48:18,84.0,1.0,17.0
24705,NaN,Zambia,2020-03-26 23:48:18,16.0,0.0,0.0
24706,NaN,Zimbabwe,2020-03-26 23:48:18,3.0,1.0,0.0

In [133]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-27-2020.csv'
response = requests.get(url)
response

In [134]:
df1 = pd.read_csv(url)
df1 = df1.rename(columns={"Province_State": "Province/State", "Country_Region": "Country/Region", "Last_Update": "Last Update"})
df1 = df1[["Province/State", "Country/Region", "Last Update", "Confirmed", "Deaths", "Recovered"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
...,...,...,...,...,...,...
28131,NaN,Venezuela,2020-03-27 23:23:03,107.0,1.0,31.0
28132,NaN,Vietnam,2020-03-27 23:23:03,163.0,0.0,20.0
28133,NaN,West Bank and Gaza,2020-03-27 23:23:03,91.0,1.0,17.0
28134,NaN,Zambia,2020-03-27 23:23:03,22.0,0.0,0.0
28135,NaN,Zimbabwe,2020-03-27 23:23:03,5.0,1.0,0.0

In [135]:
#df.to_csv('CDRdata.csv', index = False)

In [136]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-01-2020.csv'
response = requests.get(url)
response

In [137]:
df = pd.read_csv(url)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
120,"Tempe, AZ",US,2020-02-25T21:23:03,1,0,1,33.4255,-111.9400
121,From Diamond Princess,Australia,2020-02-29T02:03:10,0,0,0,35.4437,139.6380
122,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,29.3829,-98.6134
123,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,41.2545,-95.9758
124,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,38.2721,-121.9399

In [138]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-02-2020.csv'
response = requests.get(url)
response

In [139]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
261,"Umatilla, OR",US,2020-03-02T20:23:16,1,0,0,45.7750,-118.7606
262,From Diamond Princess,Australia,2020-02-29T02:03:10,0,0,0,35.4437,139.6380
263,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,29.3829,-98.6134
264,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,41.2545,-95.9758
265,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,38.2721,-121.9399

In [140]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-03-2020.csv'
response = requests.get(url)
response

In [141]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
412,NaN,Ukraine,2020-03-03T15:33:02,1,0,0,48.3794,31.1656
413,From Diamond Princess,Australia,2020-02-29T02:03:10,0,0,0,35.4437,139.6380
414,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,29.3829,-98.6134
415,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,41.2545,-95.9758
416,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,38.2721,-121.9399

In [142]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-04-2020.csv'
response = requests.get(url)
response

In [143]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
572,NaN,Ukraine,2020-03-03T15:33:02,1,0,0,48.3794,31.1656
573,From Diamond Princess,Australia,2020-02-29T02:03:10,0,0,0,35.4437,139.6380
574,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,29.3829,-98.6134
575,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,41.2545,-95.9758
576,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,38.2721,-121.9399

In [144]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-05-2020.csv'
response = requests.get(url)
response

In [145]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
745,NaN,Ukraine,2020-03-03T15:33:02,1,0,0,48.3794,31.1656
746,From Diamond Princess,Australia,2020-02-29T02:03:10,0,0,0,35.4437,139.6380
747,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,29.3829,-98.6134
748,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,41.2545,-95.9758
749,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,38.2721,-121.9399

In [146]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-06-2020.csv'
response = requests.get(url)
response

In [147]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
944,From Diamond Princess,Australia,2020-02-29T02:03:10,0,0,0,35.4437,139.6380
945,Northern Territory,Australia,2020-03-06T04:33:03,0,0,0,-12.4634,130.8456
946,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,29.3829,-98.6134
947,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,41.2545,-95.9758
948,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,38.2721,-121.9399

In [148]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-07-2020.csv'
response = requests.get(url)
response

In [149]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
1169,Northern Territory,Australia,2020-03-06T04:33:03,0,0,0,-12.4634,130.8456
1170,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,29.3829,-98.6134
1171,"Montgomery County, TX",US,2020-03-07T19:53:02,0,0,0,30.3213,-95.4778
1172,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,41.2545,-95.9758
1173,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,38.2721,-121.9399

In [150]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-08-2020.csv'
response = requests.get(url)
response

In [151]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
1424,Northern Territory,Australia,2020-03-06T04:33:03,0,0,0,-12.4634,130.8456
1425,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,29.3829,-98.6134
1426,"Montgomery County, TX",US,2020-03-07T19:53:02,0,0,0,30.3213,-95.4778
1427,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,41.2545,-95.9758
1428,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,38.2721,-121.9399

In [152]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-09-2020.csv'
response = requests.get(url)
response

In [153]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
1690,Northern Territory,Australia,2020-03-06T04:33:03,0,0,0,-12.4634,130.8456
1691,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,29.3829,-98.6134
1692,"Montgomery County, TX",US,2020-03-07T19:53:02,0,0,0,30.3213,-95.4778
1693,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,41.2545,-95.9758
1694,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,38.2721,-121.9399

In [154]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-10-2020.csv'
response = requests.get(url)
response

In [155]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
1896,New Mexico,US,2020-03-10T02:33:04,0,0,0,34.8405,-106.2485
1897,North Dakota,US,2020-03-10T02:33:04,0,0,0,47.5289,-99.7840
1898,South Dakota,US,2020-03-10T02:33:04,0,0,0,44.2998,-99.4388
1899,West Virginia,US,2020-03-10T02:33:04,0,0,0,38.4912,-80.9545
1900,Wyoming,US,2020-03-10T02:33:04,0,0,0,42.7560,-107.3025

In [156]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-11-2020.csv'
response = requests.get(url)
response

In [157]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
2112,Mississippi,US,2020-03-10T02:33:04,0,0,0,32.7416,-89.6787
2113,North Dakota,US,2020-03-10T02:33:04,0,0,0,47.5289,-99.7840
2114,West Virginia,US,2020-03-10T02:33:04,0,0,0,38.4912,-80.9545
2115,Wyoming,US,2020-03-10T02:33:04,0,0,0,42.7560,-107.3025
2116,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0,31.9522,35.2332

In [158]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-12-2020.csv'
response = requests.get(url)
response

In [159]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
2330,Alaska,US,2020-03-10T02:33:04,0,0,0,61.3707,-152.4044
2331,Idaho,US,2020-03-10T02:33:04,0,0,0,44.2405,-114.4788
2332,Maine,US,2020-03-10T02:33:04,0,0,0,44.6939,-69.3819
2333,West Virginia,US,2020-03-10T02:33:04,0,0,0,38.4912,-80.9545
2334,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0,31.9522,35.2332

In [160]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-13-2020.csv'
response = requests.get(url)
response

In [161]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
2560,NaN,Afghanistan,2020-03-11T20:00:00,7,0,0,33.0000,65.0000
2561,NaN,Monaco,2020-03-11T20:00:00,2,0,0,43.7333,7.4167
2562,NaN,Liechtenstein,2020-03-11T20:00:00,1,0,0,47.1400,9.5500
2563,NaN,Guyana,2020-03-11T20:00:00,1,1,0,5.0000,-58.7500
2564,NaN,Taiwan*,2020-03-11T20:00:00,50,1,20,23.7000,121.0000

In [162]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-14-2020.csv'
response = requests.get(url)
response

In [163]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
2809,"Virgin Islands, U.S.",US,2020-03-14T16:15:18,1,0,0,18.3358,-64.8963
2810,Gibraltar,United Kingdom,2020-03-14T16:33:03,1,0,1,36.1408,-5.3536
2811,From Diamond Princess,Australia,2020-03-14T02:33:04,0,0,0,35.4437,139.6380
2812,West Virginia,US,2020-03-10T02:33:04,0,0,0,38.4912,-80.9545
2813,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0,31.9522,35.2332

In [164]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-15-2020.csv'
response = requests.get(url)
response

In [165]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
3067,Gibraltar,United Kingdom,2020-03-14T16:33:03,1,0,1,36.1408,-5.3536
3068,NaN,Uzbekistan,2020-03-15T18:20:19,1,0,0,41.3775,64.5853
3069,From Diamond Princess,Australia,2020-03-14T02:33:04,0,0,0,35.4437,139.6380
3070,West Virginia,US,2020-03-10T02:33:04,0,0,0,38.4912,-80.9545
3071,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0,31.9522,35.2332

In [166]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-16-2020.csv'
response = requests.get(url)
response

In [167]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
3339,Cayman Islands,United Kingdom,2020-03-16T14:53:04,1,1,0,19.3133,-81.2546
3340,Gibraltar,United Kingdom,2020-03-14T16:33:03,1,0,1,36.1408,-5.3536
3341,From Diamond Princess,Australia,2020-03-14T02:33:04,0,0,0,35.4437,139.6380
3342,West Virginia,US,2020-03-10T02:33:04,0,0,0,38.4912,-80.9545
3343,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0,31.9522,35.2332

In [168]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv'
response = requests.get(url)
response

In [169]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
3615,NaN,Guernsey,2020-03-17T18:33:03,0,0,0,49.4500,-2.5800
3616,NaN,Jersey,2020-03-17T18:33:03,0,0,0,49.1900,-2.1100
3617,NaN,Puerto Rico,2020-03-17T16:13:14,0,0,0,18.2000,-66.5000
3618,NaN,Republic of the Congo,2020-03-17T21:33:03,0,0,0,-1.4400,15.5560
3619,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0,31.9522,35.2332

In [170]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-18-2020.csv'
response = requests.get(url)
response

In [171]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
3899,NaN,Guernsey,2020-03-17T18:33:03,0,0,0,49.4500,-2.5800
3900,NaN,Jersey,2020-03-17T18:33:03,0,0,0,49.1900,-2.1100
3901,NaN,Puerto Rico,2020-03-17T16:13:14,0,0,0,18.2000,-66.5000
3902,NaN,Republic of the Congo,2020-03-17T21:33:03,0,0,0,-1.4400,15.5560
3903,NaN,The Gambia,2020-03-18T14:13:56,0,0,0,13.4667,-16.6000

In [172]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-19-2020.csv'
response = requests.get(url)
response

In [173]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
4191,NaN,Jersey,2020-03-17T18:33:03,0,0,0,49.1900,-2.1100
4192,NaN,Puerto Rico,2020-03-17T16:13:14,0,0,0,18.2000,-66.5000
4193,NaN,Republic of the Congo,2020-03-17T21:33:03,0,0,0,-1.4400,15.5560
4194,NaN,The Bahamas,2020-03-19T12:13:38,0,0,0,24.2500,-76.0000
4195,NaN,The Gambia,2020-03-18T14:13:56,0,0,0,13.4667,-16.6000

In [174]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-20-2020.csv'
response = requests.get(url)
response

In [175]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
4490,NaN,Jersey,2020-03-17T18:33:03,0,0,0,49.1900,-2.1100
4491,NaN,Puerto Rico,2020-03-17T16:13:14,0,0,0,18.2000,-66.5000
4492,NaN,Republic of the Congo,2020-03-17T21:33:03,0,0,0,-1.4400,15.5560
4493,NaN,The Bahamas,2020-03-19T12:13:38,0,0,0,24.2500,-76.0000
4494,NaN,The Gambia,2020-03-18T14:13:56,0,0,0,13.4667,-16.6000

In [176]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-21-2020.csv'
response = requests.get(url)
response

In [177]:
df1 = pd.read_csv(url)
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
4794,NaN,Jersey,2020-03-17T18:33:03,0,0,0,49.1900,-2.1100
4795,NaN,Puerto Rico,2020-03-17T16:13:14,0,0,0,18.2000,-66.5000
4796,NaN,Republic of the Congo,2020-03-17T21:33:03,0,0,0,-1.4400,15.5560
4797,NaN,The Bahamas,2020-03-19T12:13:38,0,0,0,24.2500,-76.0000
4798,NaN,The Gambia,2020-03-18T14:13:56,0,0,0,13.4667,-16.6000

In [178]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-22-2020.csv'
response = requests.get(url)
response

In [179]:
df1 = pd.read_csv(url)
df1 = df1.rename(columns={"Province_State": "Province/State", "Country_Region": "Country/Region", "Last_Update": "Last Update", "Lat":"Latitude", "Long_":"Longitude"})
df1
df1 = df1[["Province/State", "Country/Region", "Last Update", "Confirmed", "Deaths", "Recovered", "Latitude", "Longitude"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.975600,112.270700
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.000000,128.000000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.000000,12.000000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.341700,113.424400
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.882000,113.614000
...,...,...,...,...,...,...,...,...
8211,NaN,Syria,3/22/20 23:45,1,0,0,34.802075,38.996815
8212,NaN,Timor-Leste,3/22/20 23:45,1,0,0,-8.874217,125.727539
8213,NaN,Uganda,3/22/20 23:45,1,0,0,1.373333,32.290275
8214,District of Columbia,US,3/22/20 23:45,102,2,0,38.904178,-77.016560
8215,Washington,US,3/22/20 23:45,1,2,0,46.451975,-117.545403

In [180]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-23-2020.csv'
response = requests.get(url)
response

In [181]:
df1 = pd.read_csv(url)
df1 = df1.rename(columns={"Province_State": "Province/State", "Country_Region": "Country/Region", "Last_Update": "Last Update", "Lat":"Latitude", "Long_":"Longitude"})
df1
df1 = df1[["Province/State", "Country/Region", "Last Update", "Confirmed", "Deaths", "Recovered", "Latitude", "Longitude"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.975600,112.270700
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.000000,128.000000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.000000,12.000000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.341700,113.424400
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.882000,113.614000
...,...,...,...,...,...,...,...,...
11626,NaN,Uzbekistan,2020-03-23 23:19:21,46,0,0,41.377491,64.585262
11627,NaN,Venezuela,2020-03-23 23:19:21,77,0,15,6.423800,-66.589700
11628,NaN,Vietnam,2020-03-23 23:19:21,123,0,17,14.058324,108.277199
11629,NaN,Zambia,2020-03-23 23:19:21,3,0,0,-13.133897,27.849332
11630,NaN,Zimbabwe,2020-03-23 23:19:21,3,1,0,-19.015438,29.154857

In [182]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-24-2020.csv'
response = requests.get(url)
response

In [183]:
df1 = pd.read_csv(url)
df1 = df1.rename(columns={"Province_State": "Province/State", "Country_Region": "Country/Region", "Last_Update": "Last Update", "Lat":"Latitude", "Long_":"Longitude"})
df1
df1 = df1[["Province/State", "Country/Region", "Last Update", "Confirmed", "Deaths", "Recovered", "Latitude", "Longitude"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.975600,112.270700
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.000000,128.000000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.000000,12.000000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.341700,113.424400
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.882000,113.614000
...,...,...,...,...,...,...,...,...
15043,NaN,Uzbekistan,2020-03-24 23:37:15,50,0,0,41.377491,64.585262
15044,NaN,Venezuela,2020-03-24 23:37:15,84,0,15,6.423800,-66.589700
15045,NaN,Vietnam,2020-03-24 23:37:15,134,0,17,14.058324,108.277199
15046,NaN,Zambia,2020-03-24 23:37:15,3,0,0,-13.133897,27.849332
15047,NaN,Zimbabwe,2020-03-24 23:37:15,3,1,0,-19.015438,29.154857

In [184]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-25-2020.csv'
response = requests.get(url)
response

In [185]:
df1 = pd.read_csv(url)
df1 = df1.rename(columns={"Province_State": "Province/State", "Country_Region": "Country/Region", "Last_Update": "Last Update", "Lat":"Latitude", "Long_":"Longitude"})
df1
df1 = df1[["Province/State", "Country/Region", "Last Update", "Confirmed", "Deaths", "Recovered", "Latitude", "Longitude"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.975600,112.270700
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.000000,128.000000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.000000,12.000000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.341700,113.424400
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.882000,113.614000
...,...,...,...,...,...,...,...,...
18463,NaN,Uzbekistan,2020-03-25 23:33:04,60,0,0,41.377491,64.585262
18464,NaN,Venezuela,2020-03-25 23:33:04,91,0,15,6.423800,-66.589700
18465,NaN,Vietnam,2020-03-25 23:33:04,141,0,17,14.058324,108.277199
18466,NaN,Zambia,2020-03-25 23:33:04,12,0,0,-13.133897,27.849332
18467,NaN,Zimbabwe,2020-03-25 23:33:04,3,1,0,-19.015438,29.154857

In [186]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-26-2020.csv'
response = requests.get(url)
response

In [187]:
df1 = pd.read_csv(url)
df1 = df1.rename(columns={"Province_State": "Province/State", "Country_Region": "Country/Region", "Last_Update": "Last Update", "Lat":"Latitude", "Long_":"Longitude"})
df1
df1 = df1[["Province/State", "Country/Region", "Last Update", "Confirmed", "Deaths", "Recovered", "Latitude", "Longitude"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.975600,112.270700
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.000000,128.000000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.000000,12.000000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.341700,113.424400
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.882000,113.614000
...,...,...,...,...,...,...,...,...
21884,NaN,Venezuela,2020-03-26 23:48:18,107,0,15,6.423800,-66.589700
21885,NaN,Vietnam,2020-03-26 23:48:18,153,0,20,14.058324,108.277199
21886,NaN,West Bank and Gaza,2020-03-26 23:48:18,84,1,17,31.952200,35.233200
21887,NaN,Zambia,2020-03-26 23:48:18,16,0,0,-13.133897,27.849332
21888,NaN,Zimbabwe,2020-03-26 23:48:18,3,1,0,-19.015438,29.154857

In [188]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-27-2020.csv'
response = requests.get(url)
response

In [189]:
df1 = pd.read_csv(url)
df1 = df1.rename(columns={"Province_State": "Province/State", "Country_Region": "Country/Region", "Last_Update": "Last Update", "Lat":"Latitude", "Long_":"Longitude"})
df1
df1 = df1[["Province/State", "Country/Region", "Last Update", "Confirmed", "Deaths", "Recovered", "Latitude", "Longitude"]]
df = df.append(df1, ignore_index = True)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.975600,112.270700
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.000000,128.000000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.000000,12.000000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.341700,113.424400
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.882000,113.614000
...,...,...,...,...,...,...,...,...
25313,NaN,Venezuela,2020-03-27 23:23:03,107,1,31,6.423800,-66.589700
25314,NaN,Vietnam,2020-03-27 23:23:03,163,0,20,14.058324,108.277199
25315,NaN,West Bank and Gaza,2020-03-27 23:23:03,91,1,17,31.952200,35.233200
25316,NaN,Zambia,2020-03-27 23:23:03,22,0,0,-13.133897,27.849332
25317,NaN,Zimbabwe,2020-03-27 23:23:03,5,1,0,-19.015438,29.154857

In [215]:
df.to_csv('LatLongdata.csv', index = False)

In [221]:
latlon = pd.read_csv('LatLongdata.csv')
latlon

FileNotFoundError: [Errno 2] File b'C:\\Users\\austi/COMP5360Project/project_files/csv_files/LatLongdata.csv' does not exist: b'C:\\Users\\austi/COMP5360Project/project_files/csv_files/LatLongdata.csv'

In [ ]:
mask = latlon["Country/Region"] == "US"
df = latlon.loc[mask]
df

In [ ]:
#df.to_csv('USLatLon.csv', index = False)