In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('/Users/spenc/OneDrive/Documents/University_of_Utah/2019-2020/DataScience/COMP5360Project/project_files/csv_files/CLEANCDRdata.csv')
df
grouped = groupby

       Country/Region          Last Update  Confirmed  Deaths  Recovered
0      Mainland China      1/22/2020 17:00          1       0          0
1      Mainland China      1/22/2020 17:00         14       0          0
2      Mainland China      1/22/2020 17:00          6       0          0
3      Mainland China      1/22/2020 17:00          1       0          0
4      Mainland China      1/22/2020 17:00          0       0          0
...               ...                  ...        ...     ...        ...
22495            Iran  2020-03-27 23:23:03      32332    2378      11133
22496           Italy  2020-03-27 23:23:03      86498    9134      10950
22497     New Zealand  2020-03-27 23:23:03        368       0         37
22498            Peru  2020-03-27 23:23:03        635      11         16
22499       Singapore  2020-03-27 23:23:03        732       2        183

[22500 rows x 5 columns]