In [22]:
import pandas as pd
import urllib

In [ ]:
#headers = {
#  'Content-Type': 'application/json',
#  'x-api-key': 'uvOOv9bMhKafj1Ao1REf05FeUiV88LF681rAC5iZ'
#}

#request = urllib.request("https://api.crimeometer.com/v1/incidents/raw-data-coverage", headers = headers)

#response_body = urllib.request.urlopen(request).read()
#print(response_body)

In [24]:
import requests 

headers = {
  'Content-Type': 'application/json',
  'x-api-key': 'uvOOv9bMhKafj1Ao1REf05FeUiV88LF681rAC5iZ'
}

response = requests.get("https://api.crimeometer.com/v1/incidents/raw-data-coverage", headers = headers)

In [25]:
response

In [35]:
response_body = response.json()
type(response_body)

df = pd.DataFrame.from_dict(response_body)
df
#df = pd.read_json(response_body)
#df

    cities_count                                             cities
0             62  {'city_key': 'CHI', 'city_name': 'Chicago', 'i...
1             62  {'city_key': 'NYC', 'city_name': 'New York Cit...
2             62  {'city_key': 'PHI', 'city_name': 'Philadelphia...
3             62  {'city_key': 'AUS', 'city_name': 'Austin', 'in...
4             62  {'city_key': 'LAX', 'city_name': 'Los Angeles'...
5             62  {'city_key': 'FAT', 'city_name': 'Fresno', 'in...
6             62  {'city_key': 'MEM', 'city_name': 'Memphis', 'i...
7             62  {'city_key': 'GPM', 'city_name': 'Pima County'...
8             62  {'city_key': 'NSH', 'city_name': 'Nashville', ...
9             62  {'city_key': 'EGN', 'city_name': 'Elgin', 'inc...
10            62  {'city_key': 'ORH', 'city_name': 'Worcester', ...
11            62  {'city_key': 'DEN', 'city_name': 'Denver', 'in...
12            62  {'city_key': 'SEA', 'city_name': 'Seattle', 'i...
13            62  {'city_key': 'IND', 'city_name': 'Indianapolis...
14            62  {'city_key': 'BAL', 'city_name': 'Baltimore', ...
15            62  {'city_key': 'BOS', 'city_name': 'Boston', 'in...
16            62  {'city_key': 'WAS', 'city_name': 'Washington',...
17            62  {'city_key': 'DAL', 'city_name': 'Dallas', 'in...
18            62  {'city_key': 'RAG', 'city_name': 'Raleigh', 'i...
19            62  {'city_key': 'SFO', 'city_name': 'San Francisc...
20            62  {'city_key': 'FNC', 'city_name': 'Fremont', 'i...
21            62  {'city_key': 'PHX', 'city_name': 'Phoenix', 'i...
22            62  {'city_key': 'SLE', 'city_name': 'Salem OR', '...
23            62  {'city_key': 'EVA', 'city_name': 'Evanston', '...
24            62  {'city_key': 'HOU', 'city_name': 'Houston', 'i...
25            62  {'city_key': 'TUZ', 'city_name': 'Tucson', 'in...
26            62  {'city_key': 'SJC', 'city_name': 'San Jose', '...
27            62  {'city_key': 'SMO', 'city_name': 'Santa Monica...
28            62  {'city_key': 'PLZ', 'city_name': 'Plano', 'inc...
29            62  {'city_key': 'PDX', 'city_name': 'Portland', '...
..           ...                                                ...
32            62  {'city_key': 'DET', 'city_name': 'Detroit', 'i...
33            62  {'city_key': 'CC2', 'city_name': 'Cape Coral',...
34            62  {'city_key': 'FWT', 'city_name': 'Fort Worth',...
35            62  {'city_key': 'NGZ', 'city_name': 'Alameda Coun...
36            62  {'city_key': 'GRX', 'city_name': 'Garland', 'i...
37            62  {'city_key': 'STL', 'city_name': 'St. Louis', ...
38            62  {'city_key': 'SAN', 'city_name': 'San Diego', ...
39            62  {'city_key': '8SS', 'city_name': 'Essex', 'inc...
40            62  {'city_key': 'AUC', 'city_name': 'Aurora', 'in...
41            62  {'city_key': 'DSN', 'city_name': 'Des Moines',...
42            62  {'city_key': 'ORL', 'city_name': 'Orlando', 'i...
43            62  {'city_key': 'KCK', 'city_name': 'Kansas', 'in...
44            62  {'city_key': 'HTD', 'city_name': 'Huntington B...
45            62  {'city_key': 'L4D', 'city_name': 'Grand Rapids...
46            62  {'city_key': 'YOC', 'city_name': 'Lincoln City...
47            62  {'city_key': 'WWU', 'city_name': 'West Hollywo...
48            62  {'city_key': 'DAE', 'city_name': 'Dallas OR', ...
49            62  {'city_key': 'HDV', 'city_name': 'Hendersonvil...
50            62  {'city_key': 'JAO', 'city_name': 'Jacksonville...
51            62  {'city_key': 'ZRK', 'city_name': 'WALDPORT', '...
52            62  {'city_key': 'ATL', 'city_name': 'Atlanta', 'i...
53            62  {'city_key': 'MIZ', 'city_name': 'Miami Spring...
54            62  {'city_key': 'TDX', 'city_name': 'SILETZ', 'in...
55            62  {'city_key': 'NPO', 'city_name': 'NEWPORT', 'i...
56            62  {'city_key': 'RJK', 'city_name': 'Richmond Hil...
57            62  {'city_key': 'Y9O', 'city_name': 'YACHATS', 'i...
58            62  {'city_key': 'BS6', 'city_name': 'SOUTH BEACH'...
59            62  {'city_key': 'CVL', 'city_name': 'BLODGETT', '...
60            62  {'city_key': 'USV', 'city_name': 'AUMSVILLE', ...
61            62  {'city_key': 'EUG', 'city_name': 'LANE COUNTY'...

[62 rows x 2 columns]

In [37]:
df["cities"][0]

{'city_key': 'CHI',
 'city_name': 'Chicago',
 'incidents_quantity': 7023595,
 'first_incident_date': '2001-01-01T00:00:00.000Z',
 'last_incident_date': '2020-03-11T23:58:00.000Z'}

In [ ]:
headers = {
  'Content-Type': 'application/json',
  'x-api-key': 'uvOOv9bMhKafj1Ao1REf05FeUiV88LF681rAC5iZ'
}

response2 = requests.get("https://api.crimeometer.com/v1/incidents/raw-data", headers = headers)

response2